* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}
/*Header*/
#main-header {
    background: #000;
    color: #fff;
}

#main-header {
    background: #000;
    color: #fff;
}

#main-header a {
    color: #fff;
    text-decoration:none;
    display:flex;
}

#main-header-top {
    padding: 0 40px;
}

/*Nav*/
#main-nav {
    background:#73000A;
}

#main-nav ul {
    list-style-type:none;

}

#main-nav li {
    padding:10px;
    font-size: 16px;
}

/*Conent area*/

#main-content {
    padding:10px;
}

.col4of5{
    flex-basis:75%;
}

.col5of5 {
    flex-basis:20%;
}

.sc-article {
    margin: 20px;
    border-bottom;
}

.sc-article img {
    margin-right:20px;
}

.sc-side {

    border-left: thick;
    border: solid;
    margin: 20px;
    border-color: lightgray;
    border-left-color: #73000A;
}

/*Footer*/

footer {
color:white;
display:flex;
background:#73000A;
}

.main-footer{
    display:flex;
    justify-content:space-between;
}
.logo{
    width:10%;
}
.social{
    margin:100px;
}

#directory-footer {
    display: flex;
    justify-content:space-between;
}

#footer-list {
background:black;
}

.footer-list{
    display:flex;
    flex:auto;
    list-style-type:none;
    tab-size:inherit;

}

.col3of6 {
    display: flex;
}

.col2of6 {
display:flex;
}

.col1of6 {
display:flex;
}
.colleges1 li {
    color:white;
    list-style-type: none;
}
.colleges2 {
    list-style-type: none;
}
.colleges3 {
    list-style-type: none;
}
.offices1 {
    list-style-type: none;
}
.offices2 {
    list-style-type: none;
}
.tools {
    color: white;
    list-style-type: none;
}
/* Banner */
#banner {
    display: flex;
    justify-content: center;
}

/*Font Styles*/

h3 {
    color: #73000A;
    font-size: 20px;
}

h2{
    color:#73000A;
    font-size:35px;
}

h4{
    padding:10px;
}

a:visited, a:link, a:active{
    color:white;
    text-decoration:none;
}


#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 10px;
}

#hamburger {
    display: none;
}

.hidden {
    visibility: hidden;
}


@media (min-width:900px){
    #main-nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }

    #main-content-junior {
        display:flex;
        justify-content:space-between;
    }

    .sc-article{
        display:flex;
        justify-content:space-between;
    }

}

@media all and (max-width:500px) {
    #main-nav ul {
        flex-direction: column;
    }

        #main-nav ul li {
            text-align: center;
        }

    #hamburger {
        display: block;
    }
}

#main-nav.hidden {
    display: none;
}