body {
   lighting-col
}

ul {
    list-style-type: bullet;
}
.col1of3 {
    background: skyblue;
    padding: 10px;
    display:flex;
    margin:auto;
}

.result-row

@media (min-wdith:900px){
    .threecols {
        display:flex;
        justify-content:space-between;
    }

}