body {
    background:lightgreen;
}

#cars {
    width:80%;
    margin:auto;
}

.car {
    padding:10px;
    margin:10px;
    background:lightpink;
    border:3px solid white;
}

.car-form {
    width:40%;
    background:skyblue;
    border:3px solid white;
    padding:10px;
    margin:10px auto;
}